{% extends "./header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="login">
  <div class="login-triangle"></div>
  
<div class="login-container">
  <h1 class="login-header">Login</h1>
  <form class="login-container" method="POST">
    {% csrf_token %}
    {{ login_form | crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
  <div class="text-center"><a href="password_reset">Forgot your password?</a></div>
</div>


{% endblock %}