{% extends "main/header.html" %}

{% block content %} 
  
<!--Password Reset Complete-->


<div class="register">
	<div class="register-container">
	  <h1 class="register-header">Password reset complete</h1>
	  	<h3 class="text-center">Your password has been set.</h3> 
		  <p class="text-center">You may go ahead and log in now.</p>
	  <p class="text-center">
      <a href="/login">Login instead</a>
      &middot;
      <a href="/">Return home</a>
    </p>
  </div>
  
  <div id="layoutAuthentication_footer">
	  <footer class="py-4 bg-light mt-auto">
		  <div class="container-fluid">
			  <div class="d-flex align-items-center justify-content-between small">
				  <div class="text-muted">Copyright &copy; Communication LTD 2021</div>
				  <div>
					  <a href="#">Privacy Policy</a>
					  &middot;
					  <a href="#">Terms &amp; Conditions</a>
				  </div>
			  </div>
		  </div>
	  </footer>
  </div>
</div> 
    
{% endblock %}