{% extends "main/header.html" %}

{% block content %}

{% load crispy_forms_tags %}  
  
<!--Password Reset Confirm-->
<div class="register">
    <div class="register-triangle"></div>
    
    <div class="register-container">
    <h1 class="register-header">Password Reset Confirm</h1>
    <p>Please enter your new password.</p>
    <form class="register-container" method="POST">
        {% csrf_token %}
        {{ form.as_table}}
        <div class="col-xl-9 mx-auto">
        <div class="col-xl-5 mx-auto" >
            <button class="btn btn-primary" type="submit">Confirm Password</button>
        </div>
        </div> 
    </form>
    <p class="text-center"><a href="/">Return home</a></p>
    </div>
    
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Communication LTD 2021</div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}