{% extends "./header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 
<div class="register">  
    <div class="login-container">
        <h1 class="login-header">Change Password</h1>
        <form class="login-container" method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="col-xl-9 mx-auto">
                <div class="col-xl-4 mx-auto" >
                  <p><button class="btn btn-primary" type="submit">Save changes</button></p>
                </div>
            </div> 
            <p class="text-center"><a href="/">Return home</a></p>
        </form>
    </div>
</div>

{% endblock %}